---
import { PROJECTS } from "../consts"
import InfoProject from "../components/InfoProject.astro"
import Layout from "../layouts/Layout.astro"

export function getStaticPaths() {
  return PROJECTS
    .filter((project) => project !== undefined)
    .map((project) => {
      return {
        params: {
          project: project.slug,
        },
      }
    })
}

const { project } = Astro.params
const index = PROJECTS.findIndex((p: typeof PROJECTS[number]) => p && p.slug === project)
const info = index !== -1 ? PROJECTS[index] : undefined
const number = `${index + 1}`.padStart(2, "0")
---

{info ? (
  <Layout title={`Broslunas Games - ${number}: ${info.title}`}>
    <iframe title={`${info.title}`} class="w-screen h-dvh" src={`/projects/${project}/index.html`}></iframe>
    <InfoProject info={{ ...info, number }} />
  </Layout>
) : (
  <Layout title="Proyecto no encontrado">
    <p>Proyecto no encontrado.</p>
  </Layout>
)}
